.habbo-index {

}

.habbo-index .index-splash {
  background: url(/resources/template/images/splash-screen.png) center, var(--habbo-splash-background);

  background-size: cover;

  position: relative;

  display: table;

  height: 100%; 
}

.habbo-index .index-splash .splash-inner {
  display: table-cell;

  vertical-align: bottom;

  padding: 2.5%;
}

.habbo-index .index-splash .splash-inner .splash-content {
  display: inline-block;

  width: 100%;
}

.habbo-index .index-splash .splash-inner .splash-content .splash-text-1 {
  width: 710px;

  max-width: 40%;
  
  height: 112px;

  background: url(/resources/template/images/splash-texts/a-battle-royale-edition-of-habbo.png) no-repeat;
  background-size: contain;
}

.habbo-index .index-page {
  display: table;

  background: var(--habbo-page-background);

  position: absolute;

  padding: 0 7.5%;

  right: 0;

  height: 100%;

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);

  text-align: center;
}

.habbo-index .index-page .page-inner {
  display: table-cell;

  vertical-align: middle;

  padding: 120px 0;
}

.habbo-index .index-page .page-inner .page-content {
  display: inline-block;
}

.habbo-index .index-page .page-inner .page-content .page-module {
  display: inline-block;
}

.habbo-index .index-page .page-inner .page-content .page-break {
  display: block;
}

.habbo-index .index-page .page-inner .page-content .page-input {
  min-width: 300px;

  box-sizing: border-box;
}